# Dependencies
node_modules/
npm-debug.log
yarn-error.log

# Build outputs
dist/
build/
coverage/

# Sensitive information
.env
.aws/
.npmrc

# Version control
.git/
.github/
.gitignore

# Docker configuration
Dockerfile
docker-compose.yml
.dockerignore

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
